* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  padding: 2px;
  margin: 0;
  background-color: #f3f3f3;
}

body::-webkit-scrollbar {
  width: 0.75em;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(57, 64, 78);
  outline: 1px solid rgb(100, 147, 194);
}

.react-images__navigation > button {
  background-color: red;
}

.loading_bar {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
